<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>后台管理平台登录入口</title>
    <link rel="stylesheet" href="/stylesheets/mannage.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <script type="text/javascript" src="/layui/layui.all.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script  src="/javascripts/jquery.min.js"></script>
    <script  src="/javascripts/manager.js"></script>
  </head>
  <body>
    <div class = "head" >
        <div class="logo">
              <h2>login to your account</h2>
        </div>

    </div>
    <div class="input">
        <div class="input_group">

          <div class="input_mod">
              <input id="manager_id" type="text" name="" value="" placeholder="请输入你的管理员账号"><span><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
          </div>
          <div class="input_mod">
              <input id="manager_pass" type="password" name="" value="" placeholder="请输入你的管理员密码"><span><i class="fa fa-key fa-lg" aria-hidden="true"></i></span>
          </div>
          <div class="forget_pas">
              forget password?
          </div>
          <div class="btn_login">
              <a href="javascript:void(0)" onclick="check()">login</a>
          </div>

        </div>

    </div>
    <div class="foot">
        @在线图书馆理系统
    </div>

  </body>
</html>
